body{
    background-color: rgb(233, 233, 233);
}
.card{
    margin-top: 20px;
    box-shadow: #e1e1e1 5px 5px 5px;
    border-radius: 10px;
}
.input-block,.output-block{
    background: #e0e0e0;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}

#container {
    width: 1000px;
    margin: 20px auto;
}
.ck-editor__editable[role="textbox"] {
    /* editing area */
    min-height: 200px;
}
.ck-content .image {
    /* block images */
    max-width: 80%;
    margin: 20px auto;
}
